/* ---------------------------------------------------------------------------------------------------------------------
                                                        SEARCH
   ---------------------------------------------------------------------------------------------------------------------
 */
.search_bar{
    width: 97%;
    height: 5%;
    padding-left: 2%;
}

.search_field{
    width: 64%;
    height: 100%;

    font-size: 20px;
}

.search_button{
    height: 100%;
    font-size: 1.2vw;
}

.search_field_wrapper{
    height: 100%;
    width: 80%;
    float: left;
}

.sort_button_wrapper{
    height: 100%;
    width: 12%;
    float: left;
}

/* ---------------------------------------------------------------------------------------------------------------------
                                                            FEED
   ---------------------------------------------------------------------------------------------------------------------
 */
.feed_scroll_wrapper{
    float: top;
    width: 95%;
    height: 80%;

    padding-left: 5%;
}

.feed_scroll{
    overflow: scroll;
    height: 100%;
}

.feed_scroll_member{
    width: 95%;
    height: 250px;
    float: left;
}

.feed_scroll_photobox{
    float: left;
    width: 200px;
    height: 200px;
}

.feed_scroll_infobox{
    height: 99%;
    width: 74%;
    float: left;
    margin-left: 5px;
}

.feed_scroll_member_for_reviews{
    overflow: scroll;
    width: 95%;
    height: 350px;
    float: left;
}

.feed_scroll_photobox_for_reviews{
    height: 99%;
    width: 15%;
    float: left;
}

.feed_main_text{
    margin-top:0%;
    margin-bottom:0%;

    font-family:"Verdana", Verdana, serif;
    font-size: 1.9vw;
}

.infobox_space{
    height: 90px;
}

.infobox_smaller_space{
    height: 60px;
}

.vote_box_for_feed{
    padding-top: 45px;
    float: left;
    height: 99%;
    width: 5%;
}