.background {
    margin:0%;

    background-image: url("/images/background_image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login_image {
    margin: 0%;

    text-align: center;
    float: left;
    width: 35%;
    height: 98%;

}

.profile_top {
    margin: 0%;

    width: 100%;
    height:34%;
}

.profile_bottom {
    margin: 0%;
    text-align: center;

    width: 100%;
    height: 64%;
}

.profile_image_rec {
    margin: 0%;

    text-align: center;
    float: left;
    width: 26%;
    height: 98%;
}

.profile_image {
    margin: 1%;

    float: top;
    width: 68%;
    height: 78%;
}

.profile_info_rec {
    margin: 0%;
    text-align: center;
    float: left;

    width: 68%;
    height: 98%;
}

.profile_filter{
    float:top;
    text-align: center;

    width: 100%;
    height: 8%;
}

.profile_scroll{
    overflow:scroll;
    float:top;

    height: 88%;
    width: 99%;
}

.outer_rectangle {
    margin: 0%;

    width:60%;
    height:98%;
    float:left;
    text-align:center;
}

.centered_rectangle {
    margin: 0%;

    width: 100%;
    height: 100%;
    float: none;
    text-align: center;
}


.page_label_box {
    margin-top:0%;
    margin-bottom:0%;

    width:98%;
    height:10%;
    float:top;
}

.album_page_label_box {
    margin-top: 5%;
    margin-bottom: 0%;

    width: 100%;
    height: 10%;
    text-align: center;

}

.page_label {
    color:#81d8d0;
    font-family:"Times New Roman", Times, serif;
    font-size: 3.4vw;
    font-weight: bolder;
}

.big_text {
    margin-top:0%;
    margin-bottom:0%;

    font-family:"Verdana", Verdana, serif;
    font-size: 2.1vw;
    font-weight: bold;
}

.text {
    margin-top:0%;
    margin-bottom:0%;

    font-family:"Verdana", Verdana, serif;
    font-size: 1.4vw;
}

.small_text {
    margin-top:0%;
    margin-bottom:0%;

    font-family:"Verdana", Verdana, serif;
    font-size: 1vw;
}

.green_text {
    margin-top:0%;
    margin-bottom:0%;
    color: green;

    font-family:"Verdana", Verdana, serif;
    font-size: 1.4vw;
}

.red_text {
    margin-top:0%;
    margin-bottom:0%;
    color: red;

    font-family:"Verdana", Verdana, serif;
    font-size: 1.4vw;
}

.username_text {
    margin-top: 0%;
    margin-bottom:0%;

    font-family:"Verdana", Verdana, serif;
    font-size: 1.4vw;
}

.textbox {
    padding: 0%;
    margin-top:0%;
    margin-bottom:0%;

    width: 15%;
    height: 3.5%;
    font-size: 1.4vw;
}

.longer_textbox_width {
    width: 20%;
}

.space {
    margin-top:0%;
    margin-bottom:0%;

    height: 4%;
}

.big_space {
    margin-top:0%;
    margin-bottom:0%;

    height: 8%;
}

.bigger_space{
    margin-top:0%;
    margin-bottom:0%;

    height: 50px;
}

.huge_space {
    margin-top:0%;
    margin-bottom:0%;

    height: 16%;
}

.button {
    margin: 0%;
    border: 1vw;
    padding: 0%;

    width: 8%;
    height: 4%;
}

.profile_full_two_buttons {
    padding-left: 30%;
    padding-right: 30%;

    width: 40%;
    height: 100%;
}

.profile_full_three_buttons {
    padding-left: 14%;
    padding-right: 14%;

    width: 72%;
    height: 100%;
}

.profile_part_two_buttons {
    border-top: 1px #000000;
    border-bottom: 1px #000000;
    border-left: 1px #000000;
    border-right: 1px #000000;
    padding: 1px;
    margin: 1px;
    float: left;
    background-color: #0abab5;

    width: 48%;
    height: 80%;
}

.profile_part_three_buttons {
    border-top: 1px #000000;
    border-bottom: 1px #000000;
    border-left: 1px #000000;
    border-right: 1px #000000;
    padding: 1px;
    margin: 1px;
    float: left;
    background-color: #0abab5;

    width: 31%;
    height: 80%;
}

.scroll_member {
    width: 99%;
    height: 150px;
}

.scroll_member_photobox {
    width: 38%;
    height: 90%;
    float: left;
}

.scroll_member_infobox {
    width: 61%;
    height: 90%;
    overflow: scroll;
    float: left;
}

.vote_box {
    width: 2%;
    height: 10%;
}

.selection_width {
    width: 10%;
}

.browse_files {
    margin-top:0%;
    margin-bottom:0%;
    margin-left: 15.5%;

    font-family:"Verdana", Verdana, serif;
    font-size: 1.4vw;
}

.long_background {
    background: radial-gradient(#ffffff 25%, #aafefe);
}

.top_album {
    width: 99%;
    height: 64%;
    float: top;
}

.bottom_album {
    width: 99%;
    height: 33%;
    float: top;
    overflow: scroll;
}

.left_album {
    width: 55%;
    height: 99%;
    float: left;
}

.right_album {
    width: 35%;
    height: 99%;
    float: left;
    overflow: scroll;
}

.review_album{
    width: 99%;
    height: 100px;
    overflow: scroll;
}

.friends_scroll{
    padding-left: 14%;
    padding-right: 14%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;

    height: 88%;
    width: 71%;
}

.friends_scroll_column{
    width: 100%;
}

.friends_scroll_member{
    width: 100%;
    height: 125px;
}

.friends_scroll_member_photo{
    width: 120px;
    height: 120px;
    float: left;
}

.friends_scroll_member_info{
    margin-left: 5px;
    width: 70%;
    height: 99%;
    float: left;
    text-align: left;
}
